/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

header {
  background: navy;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}

html, body {
  background: #efefef;
}

main {
  .container {
    background: white;
  }
}

ul li {
  list-style-type: none;
  background-color: #c3c3c3;
  padding:10px;
  margin-bottom:10px;
}

.logo {
  float: left;
  font-weight: bold;
}

.logout {
  float: right;
}

.errors {
  color: maroon;
  margin-bottom: 1em;
}

.signin-form {
  width: 20em;
  border: 1px solid #ccc;
  padding: 2em;
  margin: 2em auto;
  background: #efefef;

  > div {
    padding: .3em 0;
  }

  label {
    display: inline-block;
    width: 6em;
  }

  input[type=submit] {
    margin-left: 6.3em;
  }
}

.task-list {
  padding: 1em;
  background-color: #f5f2ff;
  border-radius:25px;
  & + & {
    border-top: 1px solid darkblue;
  }

  h1 {
    font-size: 110%;
  }
}

.tasks {
  display: none;
}

h2 {
  display:inline;
  margin-right:10px;
}

.right {
  position:relative;
  float:right;
}

.button-link, .button-link a {
  padding: 4px;
  margin-right:4px;
  border: 1px solid black;
  background: #e9e9e9;
  text-decoration: none;
  color:black;
}

.list-tool {
  padding-right:10px;
}

.down-shield {
  display:none;
}

.due-date {
  display:inline;
}

.dingus {
  display:none;
}

.warning-triangle {
  display:none;
}

.list-search {
  display:inline;
}

.search-tag {
  display:inline;
}